nav a:link, a:visited {
  background-color: white;
  color: black;
  border: 2px solid rgb(0, 0, 0);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

nav  a:hover, a:active {
  background-color: rgb(255, 0, 0);
  color: white;
}


header{
  background-color: #84a570;
  height: 180px;
}

main {
  width: 80%;
  margin-top: 16px;
  margin-right: auto;
  margin-bottom: 16px;
  margin-left: auto;
  
}
body {
  font-family: 'Arial', sans-serif;
  background-color: #F1CC0C;
  margin: 0px;
  text-align: center;
}


footer {
color: #000000;
background-color: #84a570;
padding: 30px;
}

h1 {font-size: 60px;
  color: #000000;
}

.Roles{
 
  font-size: 40px;

}
.Photos{
  width: 80%;


}
.header {
grid-area: header;
color: aquamarine;
background-color: #0965AE;
background-image: url("../banner.png");
background-position: top;
padding: 4px;

}
.main {
grid-area: main;
color: rgb(0, 0, 0);  
background-color: #d7f2ffff;
padding-top: 10px;
}

.sidebar {
grid-area: sidebar;
color: rgb(0, 0, 0);
background-color: #F1CC0C;

}
.footer {
grid-area: footer;
color: rgb(0, 0, 0);
background-color: #0965AE;
}

.nav {
grid-area: nav;
color: rgb(0, 0, 0);
background-color: #0965AE;
padding-bottom: 5px;
padding-top: 5px;
}

#Mainimg{
  width: 60%;
}
#Toyworld{
  
  width: 90%;
}



.container {
display: grid;
grid-template-columns: 18% 32% 32% 18%;
grid-template-rows: auto;
grid-template-areas: 
  "header header header header"
  "nav nav nav nav"
  "sidebar main main sidebar2"
  "footer footer footer footer";
}
#img2{

  width: 90%;
}

#img3{

  width: 90%;
}
.mser {
text-align: left;
    
}

.instrutions {
text-align: left;
}

.grid {
  border: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.grid {

  width: 100%;

}